<html>
<body>
    <div class="container col-md-offset-0">
        <div class="navbar-brand top col-md-10"><h1>漢字辞書</h1><p>KANJI JISHYO</p></div>
            <div class="container col-md-8">
                <p class="lead bottom">Добро пожаловать на словарь японских слов. Здесь вы можете найти всё необходимое для поиска.</p>
            </div>
        </div>
    </body>
</html>

